# Binaries
reservoir*

# Debugging files
__debug*

# Output of the go coverage tool
*.coverprofile

# Dependency directories (vendor/)
vendor/

# Certs and keys
ssl/

# Directory for files used by the executable
# This is where reservoir will store its cache and other data.
var/
